/* Definitie van aangepaste lettertypen */
/* Lettertype voor 'Toys' */
@font-face {
    font-family: Toys;
    src: url(./fonts/K26ToyBlocks123.ttf);
}

/* Lettertype voor 'Toysall' */
@font-face {
    font-family: Toysall;
    src: url(./fonts/Lemon\ Milk.otf);
}

/* Algemene stijlen voor het HTML-element */
html{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Stijlen voor de home body met achtergrondkleur zwart */
.hpb{
    background-color: rgb(255, 255, 255);
}

/* Stijlen voor alle elementen met het verwijderen van marges */
*{
    margin: 0;
}

/* Stijlen voor het logo in de navigatiebalk */
.logo{
    font-family: Toysall;
    letter-spacing: .5rem;
    font-size: 7rem;
    color: #ffffff;
    margin: 0;
    margin-left: 1vw;
    margin-right: 2vw;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* Stijlen voor de navigatiebalk */
nav{
    font-family: Toysall;
    width: 98.9vw;
    height: 7vh;
    background-color: #6A706E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1vh solid #6A706E;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Stijlen voor de port (niet gedefinieerd in HTML-code) */
.port{
    width: 100vw;
    height: 7vh;
    background-color: #4f5d2f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1vh solid #5c6644;
    z-index: 2;
}

/* Stijlen voor de lijsten in navigatiebalk */
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

/* Stijlen voor de lijstitems in navigatiebalk */
li{
    padding: .9vw 3.3vh .9vw 3.3vh;
    font-size: 4rem;
    color: #ffffff;
}

/* Stijlen voor de ankers in navigatiebalk */
a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* Stijlen voor de lijstitems bij hover in navigatiebalk */
li:hover{
    background-color: #82968C;
}

/* Algemene achtergrondstijlen voor de hele pagina */
.bg{
    margin: 0;
    width: 98.9vw;
    height: 100vh;
    filter: blur(10px);
    z-index: 1;
}

/* Stijlen voor de contentsectie */
.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-image: url(./assets/image1.png);
    background-size: cover; 
    background-position: center; 
    transition: all 3s ease;
}

/* Stijlen voor verschillende tekstsecties */
.h1t{
    font-family: Toys;
    color: #ffffff;
    font-size: 10rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin-top: 7%;
}

.h3c{
    font-family: Toysall;
    text-align: center;
    color: #82968C;
    margin-top: 10vh;
    padding: 0 2vw 0 2vw;
    font-size: 7rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.h3t{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

/* Stijlen voor de footer */
.footer {
    background-color: #82968C;
    width: 100vw;
    height: 16vh;
    position: fixed; 
    bottom: 0; 
    z-index: 999; 
}

/* Stijlen voor het winkelmandje */
.winkelmandje{
    height: 7.5vh;
    margin-left: 67vw;
}

/* Mediaquery's voor verschillende schermgroottes */
@media only screen and (min-width: 1500px) {
    /* Aanpassingen voor schermgroottes van minstens 1500px breed */
    nav{
        background-color: #6A706E;
        width: 100vw;
        height: 7.4vh;
    }

    .logo{
        font-family: Toysall;
        letter-spacing: .5rem;
        font-size: 4.5rem;
        color: #ffffff;
        margin: 0;
        margin-left: 1vw;
        margin-right: 2vw;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    li{
        padding: .9vh 3.3vw .9vh 3.3vw;
    }

    .winkelmandje{
        height: 7.5vh;
        margin-left: 57vw;
    }

}

@media only screen and (max-width: 1700px) {
    /* Aanpassingen voor schermgroottes van maximaal 1700px breed */
    nav{
        background-color: #6A706E;
        width: 100vw;
        height: 7.4vh;
    }

    .logo{
        font-family: Toysall;
        letter-spacing: .5rem;
        font-size: 4.5rem;
        color: #ffffff;
        margin: 0;
        margin-left: 1vw;
        margin-right: 2vw;
        text-shadow: 2px 2px 5px rgb(0, 0, 0);
    }

    li{
        padding: .7vh 3.3vw .9vh 3.3vw;
    }

    .winkelmandje{
        height: 7.5vh;
        margin-left: 58.1vw;
    }

}

@media only screen and (min-width: 2000px)
{}